html {
    margin: 0;
    padding: 0;
    overflow: hidden;
}

body {
    position: relative;
    width: 1920px;
    height: 1080px;


    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background: rgb(0,20,70);
    background: linear-gradient(34deg, rgb(0, 5, 15) 10%, rgba(3,1,33,1) 100%);

}

.title {


    font-family: 'Open Sans', sans-serif;
    font-style: normal;
    font-weight: 600;
    font-size: 80px;
    line-height: 87px;
    text-align: center;
    color: #508dff;
    margin-top: 90px;
    margin-bottom: 30px;
}

.subtitle {
    width: 504px;
    text-align: center;
    font-family: 'Open Sans', sans-serif;
    font-weight: 300;
    font-size: 20px;
    line-height: 49px;    
    margin-top: 0px;

    color: #FFFFFF;
    margin-bottom: 0px;
}

.mainBg {
    width: 660px;
    height: 803px;
    // background: #000000;
    border-radius: 43px;
    display:  flex;
    flex-direction: column;
    align-items: center;
    margin-left: 650px;
    margin-top: 60px;
}

.googleButton {
    margin: 0;
    z-index: 1000;
}

.g-signin2 {
    z-index: 1000;
    width: 200px;
    height: 50px;
}

input {
    background: #051f2b00;
    border: none;
    border-bottom: solid 2px gray;
    width: 300px;
    height: 40px;
    font-size: 15px;
    color: #FFFFFF;
    margin-top: 30px;
    
}

.inputsLogIn {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.logIns {
    display: flex;
    margin-top: 0px;
    flex-direction: column;
}

.botaoLogIn {
    text-decoration: none;
    width: 100px;
    text-align: center;
    font-family: 'Open Sans', sans-serif;
    font-weight: 600;
    color: #000000;
    margin-top: 30px;
    padding: 10px 30px 10px 30px;
    background-color: #508dff;
    display: inline;
    border-radius: 5px;
    
}

.inputsLogIn2 {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 50px;
}

#loucura {
    width: 200px;
    transform: scale(1.4);
}

.creditCard {
    position: absolute;
    z-index: 1;
    width: 600px;
    height: auto;
    left: 280px;
}

.botaoGoogle {
    margin-top: 30px;
}

