<<<<<<< HEAD

body {
    background-color: grey;
}

.titulo {
    color: blue;
    text-align: center;
}

.hr2  {
    position: relative;
            top: 10px;
            border: none;
            height: 5px;
            background: black;
            margin-bottom: 50px;
            border-radius: 10px;
}
 
.hr1 {
    position: relative;
    top: 10px;
    height: 5px;
    background: rgb(105, 105, 105);
    margin-bottom: 50px;
    border-radius: 10px;
}

img.displayed {
    display: block;
    margin-left: auto;
    margin-right: auto }

    .texto {
    text-align: center;
=======

body {
    background-color: grey;
}

.titulo {
    color: blue;
    text-align: center;
}

.hr2  {
    position: relative;
            top: 10px;
            border: none;
            height: 5px;
            background: black;
            margin-bottom: 50px;
            border-radius: 10px;
}
 
.hr1 {
    position: relative;
    top: 10px;
    height: 5px;
    background: rgb(105, 105, 105);
    margin-bottom: 50px;
    border-radius: 10px;
}

img.displayed {
    display: block;
    margin-left: auto;
    margin-right: auto }

    .texto {
    text-align: center;
>>>>>>> 2c39125dd7b9b90376bb442b35815c3e388f98e7
}