body {
    background-image: url(images/overlay.png), linear-gradient(
45deg
, #e37682 15%, #5f4d93 85%);
}

#wrapper {
    width: 64em;
    max-width: calc(100% - 4em);
    margin: 0 auto;
}

header {
    padding-top: 150px;
    padding-bottom: 74px;
}

.logo {
    display: block;
    margin: 0 auto;
    max-width: 75%;
}

.tituloprincipal {
    text-align: center;
    color: white;
    font-family: 'Source Sans Pro', sans-serif;
    font-size: 60px;
    margin-bottom: 17px;
    
}

.subitituloPrincipal {
    text-align: center;
    color: #FFFFFFA6;
    font-family: 'Source Sans Pro', sans-serif;
    font-size: 23px;
    margin-top: 0px;
    
}

.linkFora {
    text-decoration: none;
    color: #FFFFFFA6;
    border-bottom: 1px dotted #FFFFFFA6 ;
}

.nav {
    background-color: rgb(247, 247, 247);
    box-sizing: border-box;
    display: block;
}

.navegador {
    box-sizing: border-box;
    display: block;
    background-color: #f7f7f7;
    width: 1284px;
    margin-left: -80px;
    
}



.nav_list {
    font-family: 'Source Sans Pro', sans-serif;
    
}

.linkDentro {
    text-decoration: none;
    color: #636363;
}

.main {
    background-color: rgb(255, 255, 255);
    padding-left: 80px;
    padding-right: 80px;
    margin-left: -130px;
    margin-right: -130px;
    border-radius: 4px;
}

.titulo3 {
    margin-top: 0px;
    padding-top: 0px;
}

.l1nav {
    float: left;
    list-style: none;
    font-size: 20px;
    padding-top: 30px;
    padding-left: 270px;
    
    
}

.linkDentro {
    padding-top: 10px;
    padding-bottom: 10px;
    padding-left: 20px;
    padding-right: 20px;
}

.linkDentro:hover {
    background-color: rgb(241, 241, 241);
    box-sizing: border-box;
    border-radius: 10px;
}

.l2nav {
    float: left;
    margin-left: 30px;
    list-style: none;
    font-size: 20px;
    padding-top: 30px;
    
}

.l3nav {
    float: left;
    margin-left: 30px;
    list-style: none;
    font-size: 20px;
    padding-top: 30px;
    
}

.l4nav {
    float: left;
    margin-left: 30px;
    list-style: none;
    font-size: 20px;
    padding-top: 30px;
    
}

.navegador {
    padding-bottom: 80px;
    position: sticky;
  position: -webkit-sticky;
  top: 0; /* required */
  background-color: #f7f7f7;
  opacity: 95%;
}

.sessao2 {
    padding-top: 120px;
}

.titulo3 {
    font-family: 'Source Sans Pro', sans-serif;
    color: #636363;
    font-size: 39px;

}

.titulo3::after {
        content: "";
        display: block;
        height: 2px;
        width: 150px;
        margin-top: 10px;
        background-image: linear-gradient(
90deg
, #efa8b0, #a89cc8, #8cc9f0);         
    margin-top: 30px;
}

.conteudo {
    display: table;
}

.imagem {
    display: table-cell;
    float: right;
    
}

.img01 {
    border-radius: 100%;
    width: 300px;
    margin-top: -80px;
    margin-left: 120px;
    border: #e0dfdf solid 1px;
    padding: 15px;

}

.p1 {
    display: table-cell;
    float: left;
    width: 650px;
    font-family: 'Source Sans Pro', sans-serif;
    font-size: 20px;
    color: #636363;
    padding-bottom: 35px;
}

.learnMoreButton {
    text-decoration: none;
    color: #636363;
    border: solid #dfdfdf 1px;
    padding: 15px 25px 15px 25px;
    font-size: 17px;
    border-radius: 7px;
    font-family: 'Source Sans Pro', sans-serif;
}

.learnMoreButton:hover{
    background-color: rgb(241, 241, 241);
}

.sessao2 {
    padding-bottom: 30px;
}

.sessao2::after {
    content: "";
            display: block;
            height: 1px;
            width: 1284px;
            text-align: left;
            margin-top: 90px;
            background-color: #c2c2c2;
            position: inherit;   
            margin-left: -80px;
           
}


.titulo4::after {
    content: "";
    display: block;
    height: 2px;
    width: 150px;
    margin-top: 10px;
    background-image: linear-gradient(
90deg
, #efa8b0, #a89cc8, #8cc9f0);         
margin-top: 30px;
margin-left: 490px;
}


.titulo4 {
    font-family: 'Source Sans Pro', sans-serif;
    color: #636363;
    font-size: 39px;
    text-align: center;
    padding-top: 50px;
}

.icone1 {
    list-style: none;
    float: left;
    size: 40px;
}

.listaIcones {
    list-style: none;
    display: table;
    padding-left: 0px;
}

/* .li1 {
    display: table-cell;
}

.li2 {
    display: table-cell;
    padding-left: 200px;
    align-items: center;
}

.li3 {
    display: table-cell;
    padding-left: 200px;
} */



#icone1 {
    font-size: 90px;
    border: solid #c9c9c9 1px;
    display: inline-block;
    border-radius: 100%;
    padding: 20px;
    margin: 0 0 2em 0;
    cursor: default;
    color: rgb(239, 168, 176);
    margin-top: 50px;
    margin-bottom: 18px;
    
}

#icone1::before {
    
    display: relative;
    border: solid #c9c9c9 1px;
    border-radius: 100%;
    padding-top: 40px;
    padding-bottom: 40px;
    padding-right: 40px;
    padding-left: 40px;
}

#icone2 {
    font-size: 90px;
    border: solid #c9c9c9 1px;
    display: inline-block;
    border-radius: 100%;
    padding: 20px;
    margin: 0 0 2em 0;
    cursor: default;
    color: rgb(168, 156, 200);
    margin-top: 50px;
    margin-bottom: 18px;
    
}

#icone2::before {
    
    display: relative;
    border: solid #c9c9c9 1px;
    border-radius: 100%;
    padding-top: 40px;
    padding-bottom: 40px;
    padding-right: 40px;
    padding-left: 40px;
}

#icone3 {
    font-size: 90px;
    border: solid #c9c9c9 1px;
    display: inline-block;
    border-radius: 100%;
    padding: 20px;
    margin: 0 0 2em 0;
    cursor: default;
    color: rgb(140, 201, 240);
    margin-top: 50px;
    margin-bottom: 18px;
}

#icone3::before {
    
    display: relative;
    border: solid #c9c9c9 1px;
    border-radius: 100%;
    padding-top: 40px;
    padding-bottom: 40px;
    padding-right: 40px;
    padding-left: 40px;
}

 .tituloIcones1 {
    font-family: 'Source Sans Pro', sans-serif;
    color: #636363;
    font-size: 20px;
   
   
    
}

.textoIcones1 {
    font-family: 'Source Sans Pro', sans-serif;
    color: #636363;
    font-size: 20px;
  
 
}

.tituloIcones2 {
    font-family: 'Source Sans Pro', sans-serif;
    color: #636363;
    font-size: 20px;
   
}

.textoIcones2 {
    font-family: 'Source Sans Pro', sans-serif;
    color: #636363;
    font-size: 20px;
   
}

.tituloIcones3 {
    font-family: 'Source Sans Pro', sans-serif;
    color: #636363;
    font-size: 20px;
   
}

.textoIcones3 {
    font-family: 'Source Sans Pro', sans-serif;
    color: #636363;
    font-size: 20px;
  
} 

.listaIcones {
    width: 100%;
    text-align: center;
    margin-bottom: 100px;
}

.listaIcones li {
    display: inline-block;
    width: 33%;
}

.linkIconesLearnMore {
    position: relative;
    left: 44%;
    transform: translateX(-50%);
    text-decoration: none;
    color: #636363;
    border: solid #cfcfcf 1px;
    border-radius: 6px;
    font-size: 20px;
    font-family: 'Source Sans Pro', sans-serif;
    padding-left: 30px;
    padding-right: 30px;
    padding-top: 10px;
    padding-bottom: 10px;
    
    
}

.linkIconesLearnMore:hover{
    background-color: rgb(241, 241, 241);
}

.divsessao3 {
    padding-bottom: 30px;
}

.divsessao3::after {
    content: "";
    display: block;
    height: 1px;
    width: 1284px;
    text-align: left;
    margin-top: 90px;
    background-color: #c2c2c2;
    position: inherit;   
    margin-left: -80px;
}