.titulo {
    text-align: center;
}

.texto {
    text-align: center;
    
}

.link1 {
    float: none;
    position: absolute;
    top: 23%;
    left: 50%;
    transform: translate(-50%, -50%);
  }

.link2 {
    float: none;
    position: absolute;
    top: 25%;
    left: 50%;
    transform: translate(-50%, -50%);
  }

.link3 {
    float: none;
    position: absolute;
    top: 27%;
    left: 50%;
    transform: translate(-50%, -50%);
  }

.link4 {
    float: none;
    position: absolute;
    top: 29%;
    left: 50%;
    transform: translate(-50%, -50%);
  }

.link5 {
    float: none;
    position: absolute;
    top: 31%;
    left: 50%;
    transform: translate(-50%, -50%);
  }