.titulo {
    text-align: center;
}

.titulo2 {
    text-align: center;
}

.regra3 {
    text-align: center;
}

.linkvoltar {
    float: none;
    position: absolute;
    top: 25%;
    left: 45%;
    transform: translate(-50%, -50%);
  }

  .linkprosseguir {
    float: none;
    position: absolute;
    top: 25%;
    left: 55%;
    transform: translate(-50%, -50%);
  }