body {
    background-color: rgb(64, 64, 74);
}

.titulo {
    font-family: sans-serif;
    color:rgb(209, 231, 164);
}

.texto {
    color:white;
    font-family: sans-serif;
    font-size: 15px;
    text-align: justify;
}

span{
    color:rgb(209, 231, 164); 
}

.fonte{
    color:white;
    font-family: sans-serif;
    font-size: 12px;
}
.link {
    color:rgb(209, 231, 164); 
}